<div id="aboutUs" style="padding-bottom: 0px;">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 info">
              <h5><b>Vision</b></h5>
              <ul>
                  <a href="#">To promote Research and Development in the frontier areas of Computer Science & Engineering. </a> <br>
                  <a href="#">To generate Competent Professionals to become part of the industry and Research Organizations at the National and International levels. </a> <br>
                  <a href="#">To provide necessary strengths to enable the students to Innovate and to become Entrepreneurs. </a> <br>
              </ul>
          </div>
          <div class="col-sm-6 info">
              <h5><b>Mission</b></h5>
              <ul>
                  <a href="#">To conduct Research and Development and offer consultancy services.</a> <br>
                  <a href="#">To improve continuously the quality of teaching-learning process.</a> <br>
                  <a href="#">To strive steadily for the overall growth and development of intellect and personality of the students who, as professionals, would be confident to face the challenges of the world of work.</a> <br>
                  <a href="#">To empower the faculty and staff for overall development of students.</a> <br>
              </ul>
          </div>
      </div>
      <br>
  </div>
</div>
<div class="container" style="background-color: #1c2d3f">
  <hr style="margin-top: 0px; margin-bottom: 0px; border: 0px; border-top: 1px solid #eee">
</div>
<footer id="myFooter" style="padding-bottom: 0px">
    <div class="container">
        <div class="row" style="margin-bottom: 20px">
            <div class="col-sm-3">
                <h2 class="logo"><img src="/static/img/ace_logo.jpg" style="height: 150px"></h2>
            </div>
            <div class="col-sm-2">
                <h5>Get started</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Downloads</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>About us</h5>
                <ul>
                    <li><a href="#">Company Information</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Reviews</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Support</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help desk</a></li>
                    <li><a href="#">Forums</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="social-networks">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/ACE.NITRR/?ref=br_rs" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                </div>
                <button type="button" class="btn btn-default">Contact us</button>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2017 ACE NIT Raipur | Developed and Maintained by Web Team ACE </p>
    </div>
</footer>