{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/panel.css">
<div id="parallax-world-of-ugg">
    
  <!-- <section>
    <div class="title">
      <h3>Association of Computer Engineers</h3>
      <h1>NIT Raipur</h1>
    </div>
  </section> -->
  
  <section>
      <div class="parallax-one" style="color: #1C0F13">
            <h2>ACE NIT Raipur</h2>
            <h3>Association of Computer Engineers</h3>
      </div>
  </section>
  
  <section>
    <div class="block">
      <p><span class="first-character sc">ACE</span>The Association of Computer Engineers (ACE) is a student body which provides a platform to all the budding software professionals to showcase their talents. In order to achieve this goal many events are organized in the Department of Computer Science and Engineering under the banner of ACE. This provides a good opportunity for the organizers to showcase their management skills while the participants enjoy the privilege of demonstrating their talents. ACE works for the upliftment of the department of Computer Science and Engineering by keeping students updated about trending topics and training them for their future.</p>
      <p class="line-break margin-top-10"></p>
      <p class="margin-top-10">ACE organises speaker session by eminent personalities from the field of computer science and technology. Seminars are conducted on emerging trends in the field of information technology. Every year it is the goal of the association to conduct a number of guest lectures, seminars and some technical events. In addition to the development of technical skills of the students, their Communication skills are also enhanced by conducting Interview sessions for the students. This is being done to assist the students of third year and forth year for their internships and campus placements.</p>
    </div>
  </section>
  <div class="content">
    <div class="container">
      <div class="row">
          <div class="col-md-12 col-lg-4 col-sm-12 col-lg-offset-2">
              <!-- BEGIN Portlet PORTLET-->
            <div class="portlet">
              <div class="portlet-title">
                <div class="caption caption-red">
                  <i class="glyphicon glyphicon-pushpin"></i>
                  <span class="caption-subject bold font-yellow-crusta uppercase">
                  Announcements </span>
                </div>
              </div>
              <div class="portlet-body">
                  <MARQUEE DIRECTION="UP" id="annoucements_marquee" style="height: 200px">
                  </MARQUEE>
              </div>
            </div>
            <!-- END Portlet PORTLET-->
          </div>
          <div class="col-md-12 col-lg-4 col-sm-12">
              <!-- BEGIN Portlet PORTLET-->
            <div class="portlet">
              <div class="portlet-title">
                <div class="caption caption-red">
                  <i class="glyphicon glyphicon-pushpin"></i>
                  <span class="caption-subject bold font-yellow-crusta uppercase">
                  Notice </span>
                </div>
              </div>
              <div class="portlet-body">
                  <MARQUEE DIRECTION="UP" id="notice_marquee" style="height: 200px">
                  </MARQUEE>
              </div>
            </div>
            <!-- END Portlet PORTLET-->
          </div>
      </div>
    </div>
  </div>
  <br>
  <section>
    <div class="parallax-three">
      <h2 style="color:#1C0F13">ACE CS & E</h2>
    </div>
  </section> 
  
  <section>
    <div class="block">
      <center><h3>Vision</h3></center>
      <p>To promote Research and Development in the frontier areas of Computer Science & Engineering.</p>
      <p>To generate Competent Professionals to become part of the industry and Research Organizations at the National and International levels.</p>
      <p>To provide necessary strengths to enable the students to Innovate and to become Entrepreneurs. </p>
      <p class="line-break margin-top-10"></p>
      <center><h3>Mission</h3></center>
      <p class="margin-top-10">To conduct Research and Development and offer consultancy services.</p>
      <p>To improve continuously the quality of teaching-learning process.</p>
      <p>To strive steadily for the overall growth and development of intellect and personality of the students who, as professionals, would be confident to face the challenges of the world of work.</p>
      <p>To empower the faculty and staff for overall development of students.</p>
    </div>
  </section>
    
</div>
{% endblock %}