{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/login style1.css">
<!-- <link rel="stylesheet" href="/static/css/login reset.css"> CSS reset -->
<link rel="stylesheet" href="/static/css/login style.css"> <!-- Resource style -->
<script src="/static/js/login modernizr.js"></script> <!-- Modernizr -->
<script src="/static/js/getprofile.js"></script>
  <br><br>
  <form class="cd-form floating-labels" action="/login/" enctype="multipart/form-data"  method="POST">
    <fieldset>
      <legend>Account</legend>
      <p>{{msg|safe}}</p>
      <div class="icon">
        <!-- <label class="cd-label" for="cd-name">Login-ID</label> -->
        <input class="user" type="text" name="login_id" id="cd-name"  required placeholder="Login-ID">
        </div> 

        <div class="icon">
          <!-- <label class="cd-label" for="cd-name">Password</label> -->
        <input class="user" type="password" name="password" id="cd-name" placeholder="Password">
        </div> 

      <div><label class="cd-label" for="cd-name" >
        <u><a href="/signup/">Not Yet Registered?</a></u></label>
      </div><br>
       <div><label class="cd-label" for="cd-name" >
        <u><a href="/forgot_password/">Forget Password?</a></u></label>
      </div>
      <div class="icon" >
        <button type="submit" class="btn btn-info" style="float:right;"><b>login</b></button>
        </div>
          
    </fieldset>
  </form>
  <script src="/static/js/login main.js"></script> <!-- Resource jQuery -->
{% endblock %}