{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

{% include "base_head.html" %}
<link rel="stylesheet" href="/static/css/login style1.css">
<!-- <link rel="stylesheet" href="/static/css/login reset.css"> CSS reset -->
<link rel="stylesheet" href="/static/css/login style.css"> <!-- Resource style -->
<script src="/static/js/login modernizr.js"></script> <!-- Modernizr -->
<script src="/static/js/getprofile.js"></script>
	<form class="cd-form floating-labels" action="." enctype="multipart/form-data"  method="POST">
		<fieldset>
            <legend>Register</legend>
            <p>{{msg|safe}}</p>
			<div class="icon">
				<!-- <label class="cd-label" for="cd-name">Roll-No</label> -->
				<input class="user" type="text" name="roll_no" id="cd-name"  required placeholder="Roll No">
		    </div> 
			<div class="icon">
				<!-- <label class="cd-label" for="cd-name">Name</label> -->
				<input class="user" type="text" name="name" id="cd-name"  required placeholder="Name">
		    </div> 

		    <div class="icon">
		    	<!-- <label class="cd-label" for="cd-company">Phone-No:</label> -->
				<input class="company" type="text" name="mobile" id="cd-company" placeholder="Phone No">
		    </div> 

		    <div class="icon">
		    	<!-- <label class="cd-label" for="cd-email">Email</label> -->
				<input class="email" type="email" name="email" id="cd-email" required placeholder="Email">
		    </div>
		</fieldset>
<div>

				<label class="cd-label" for="cd-name">
				<u><a href="/login/">Already a User</a></u></label>
		      	<input type="submit" value="Register">
		    </div>
		</fieldset>
	</form>
<script src="/static/js/login jquery-2.1.1.js"></script>
<script src="/static/js/login main.js"></script> <!-- Resource jQuery -->


{% endblock content %}